body{
  background-image: url(img/back.jpg);
}
.container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 10px;
  text-align: center;

  background-image: url(img/back.jpg);
  border: 3px solid orange;
  border-radius: 5px;
}
.output{
  margin-bottom: 1rem;
}
input{
  text-align: right;
  height: 25px;
}
button{
  margin: 6px;
  width: 4rem;
  height: 4rem;
  background-image: url(img/pumpkin.png);
  color: rgb(10, 9, 7);
  size: 0vw;
}